



{% if current_user.is_authenticated %}
<div class="sign-register-button">
<ul>
    <li><a href="/home">Home</a></li>
    <li><a href="">Inbox</a></li>
    <li><a class="right-link" href="/profile">Profile</a></li>
    <li><a class="right-link" href="/logout">log out</a></li>
  </ul>
</div>  
<div class="welcome-title">
    <h1 class="welcome-name">Welcome Back {{ current_user.name }} </h1>
</div>

<br>

<br>
{% else %}

<div class="sign-register-button">
    <ul>
        <li><a href="/home">Home</a></li>
        <li><a class="right-link" href="/register">register</a></li>
        <li><a class="right-link" href="/login">login</a></li>
    </ul>
</div>  

<br>

<div class="welcome-title">
    <h1 class="hello-guest"> Hello Guest </h1>
</div>

{% endif %}